<h1>Bienvenido {{user.name}} </h1>
<img src={{user.avatar}} alt="" />
<form method="get" action="/api/sessions/logout">
  <button id="loggedOut">
    Desloguearse
  </button>
</form>
<a href="/productos"><button>Ver los productos</button></a>