<h1>Logueate</h1>
<form action="" id="loginForm">

  <label>Correo electronico</label>
  <input name="email" id="email" />
  <label>Contraseña</label>
  <input type="password" name="password" id="password" />
  <input type="submit" />
</form>
<p>No estas registrado? <a href="/">Registrate</a> </p>

<p>Ingresa por:</p>
<a href="/api/sessions/github"><button>Github</button></a>

<br />
<p>Ingresa por:</p>
<a href="/api/sessions/google"><button>Google</button></a>
<script src="./js/login.js"></script>