<h1>Logueate</h1>
<form action="" id="loginForm">

  <label>Correo electronico</label>
  <input name="email" id="email" />
  <label>Contraseña</label>
  <input type="password" name="password" id="password" />
  <input type="submit" />
</form>
<p>No estas registrado? <a href="/register">Registrate</a> </p>
<script src="./js/login.js"></script>