<h1>Registrate</h1>
<form id="registerForm" class="container d-flex flex-column">
  <label>Nombre</label>
  <input name="first_name" />
  <label>Apellido</label>
  <input name="last_name" />
  <label>Edad</label>
  <input name="age" />
  <label>Dirección</label>
  <input name="address" />
  <label>Número de Teléfono</label>
  <input name="phone" />
  <label>Imagen de perfil</label>
  <input type="file" name="avatar" />
  <label>Correo electronico</label>
  <input name="email" />
  <label>Contraseña</label>
  <input type="password" name="password" />
  <input type="submit" />
</form>
<p>Ya estas registrado? <a href="/login">Logueate</a> </p>
<script src="./js/register.js"></script>