<h1>Registrate</h1>
<form id="registerForm">
  <label>Nombre</label>
  <input name="first_name" />
  <label>Apellido</label>
  <input name="last_name" />
  <label>Correo electronico</label>
  <input name="email" />
  <label>Contraseña</label>
  <input type="password" name="password" />
  <input type="submit" />
</form>
<p>Ya estas registrado? <a href="/login">Logueate</a> </p>
<script src="./js/register.js"></script>