#avatar {
  width: 150px;
  height: 150px;
  margin: 20px;
}

#homeContainer {
  text-align: center;
  margin: 15px;
  padding: 15px;
}

#loggedOut {
  position: absolute;
  top: 65px;
  right: 10px;
}
