.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productsCard {
  width: 250px;
  height: 50%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.productsCard > img {
  width: 150px;
  height: 50%;
  object-fit: fill;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
