<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img
        src="./img/logo.png"
        style="max-width:120px"
      /></a>

    {{#if user}}
      <form method="get" action="/api/sessions/logout">
        <button id="loggedOut">
          Log out
        </button>
      </form>
    {{/if}}

  </div>
</nav>